@font-face {
    font-family: man;
    src: url(./assest/Manrope-VariableFont_wght.woff2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: clamp(14px, 1vw, 16px);
}

main{
    background-color: black;
    width: 100%;

    nav{
        display: flex;
        color: whitesmoke;
        width: 100%;
        padding: 2rem;
        justify-content: space-between;
        align-items: center;

        .left{
            img{
                width: 10rem;
            }
        }

        .middle{
            font-family: man;
            display: none;
        }

        .right{
            .Profile{
                display: none;
            }
            img{
                display: none;
            }

            .menu{
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width:750px) {
    main{
        nav{
            .left{
                img{
                    width: 15rem;
                }
            }
            .middle{
                display: block;
                display: flex;
                border: inset 0px 1px 50px white, 5px 5px 5px #171212;
                gap: 1.5rem;
                padding: 1rem 2rem;
                border-radius: 0.7rem;
                margin-right: 1rem;
                background: linear-gradient(#171212,#100B0B);
                p{
                    font-size: 1.1rem;
                }
            }

            .right{
                display: flex;
                align-items: center;
                gap: 0.7rem;
                .Profile{
                    display: block;
                    font-size: 1.3rem;
                }
                img{
                    display: block;
                    width: 35%;
                    border-radius: 50%;
                }
                .menu{
                    display: none;
                }
            }
        }
    }
}